<div class="container-fluid shop-products-container-title">Shop Products</div>

<div class="container-fluid shop-product-filter-container">
  <div class="btn-group category-filter" role="group" aria-label="Basic example">
    <%= link_to "All", shop_path, class: 'btn btn-dark text-decoration-none text-white' %>
    <%= link_to "Men", shop_filter_path(:filterBy => "men\'s%20clothing"), class: 'btn btn-dark text-decoration-none text-white' %>
    <%= link_to "Women", shop_filter_path(:filterBy => "women\'s%20clothing"), class: 'btn btn-dark text-decoration-none text-white' %>
    <%= link_to "Jewelery", shop_filter_path(:filterBy => 'jewelery'), class: 'btn btn-dark text-decoration-none text-white' %>
    <%= link_to "Electronics", shop_filter_path(:filterBy => 'electronics'), class: 'btn btn-dark text-decoration-none text-white' %>
  </div>
  <div class="btn-group sort-filter" role="group" aria-label="Basic example">
    <%= link_to "Asc", request.params.merge(:sort => "asc"), class: 'btn btn-dark text-decoration-none text-white' %>
    <%= link_to "Desc", request.params.merge(:sort => "desc"), class: 'btn btn-dark text-decoration-none text-white' %>
  </div>
</div>

<div class="container-fluid products-container">
   <%= render partial:"home/product", object: @products ? @products : @filtered %>
</div>