<% @products.each do |product| %>
  
  <div id="<%= product["id"] %>" class="card">
    <img src="<%= product["image"] %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted"><%= product["category"] %></h6>
      <%= link_to product["title"].first(40), home_show_path(:product_id => product["id"]), class: "card-title" %>

      <div> 
        <h5 class="card-price">$<%= product["price"] %></h5>
        <a href="#" class="card-link btn btn-dark">Add</a>
      </div>
    </div>
  </div>


<% end %>

